$animal-size: 120px;
$barn-size: 200px;
$barn-label-width: 100px;

html {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fedfb0;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  &.center {
    justify-content: center;
  }
}

.screen {
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: 800px;
  max-height: 600px;
  background-color: #b7cf6b;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button {
  display: block;
  padding: 10px;
  margin: 0 auto 10px auto;
  border-radius: 5px;
  background-color: #ff645c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  max-width: 250px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}


.sign {
  text-align: center;
  padding: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/sign.png');


  h1 {
    font-size: 3em;
    color: #885533;
    margin: 0;
    line-height: 1em;
  }

  h2 {
    font-size: 2em;
    line-height: 0.8em;
    margin: 0;
  }
}

.animal {
  width: $animal-size;
  height: $animal-size;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.barn {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: $barn-size;
  height: $barn-size;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../images/barn.png');
  transition: transform 0.2s ease-out;

  &.over {
    transform: scale(1.1, 1.1);
  }
}

.barn-label {
  margin: 55px 0 0 0;
  padding: 0 25px;
  border: 2px solid #fff;
  text-transform: uppercase;
}
