/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #6d3a29;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: 800px;
  max-height: 600px;
  background-color: #b7cf6b;
  color: #fff;
}

.button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffc86e;;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.sign {
  text-align: center;
}

.animal {
  width: 125px;
  height: 125px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.barn {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../images/barn.png');

  transition: transform 0.2s ease-out;

  &.over {
    transform: scale(1.1, 1.1);
  }
}

.barn-label {
  position: absolute;
  top: 40px;
  left: (200px - 100px) / 2;
  width: 100px;
  border: 2px solid #fff;
  text-align: center;
  background-color: #e20e23;
  margin-left: -75px/2;
  text-transform: uppercase;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}