$animal-size: 120px;
$barn-size: 200px;
$barn-label-width: 100px;

@keyframes slide-in {
  0% {
    transform: translate(-400%, 0);
  }

  50% {
    transform: translate(-400%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

html {
  box-sizing: border-box;
  font-family: 'Shadows Into Light', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .app {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fedfb0;
}

.screen {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  background-color: #b7cf6b;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.button {
  display: block;
  padding: 10px;
  margin: 0 auto 10px auto;
  border-radius: 5px;
  background-color: #ff645c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  max-width: 250px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sign */

.sign {
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/sign.png');

  h1 {

    color: #885533;
    margin: 0;
    line-height: 1em;
  }

  h2 {

    line-height: 0.8em;
    margin: 0;
  }
}


/* animal */

.animal {
  width: $animal-size;
  height: $animal-size;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &.preview {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2))
  }
}


/* barn */

.barn {
  width: $barn-size;
  height: $barn-size;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in;
  position: relative;

  &.der {
    background-image: url('../images/barn/green-barn.png');
  }

  &.die {
    background-image: url('../images/barn/yellow-barn.png');
  }

  &.das {
    background-image: url('../images/barn/blue-barn.png');
  }

  &.over {
    transform: scale(1.1, 1.1);
  }
}

.barn-sign {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


/* progress bar */

.progress-bar {
  background: #fff;
  height: 40px;
  width: 100%;
  padding: 2px;
}

.progress-bar-inner {
  height: 100%;
  background-color: #ff645c;
  transition: width 0.2s linear;
}


/* farm game screen */

.farm-game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .barns {
    background-color: #acd9ff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 50%;
    max-height: $barn-size;
  }

  .barn-signs {
    background-color: #acd9ff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  .barn {
    height: 100%;
    margin-bottom: -10px;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .animal {
    align-self: center;
    height: 50%;
    max-height: $animal-size;
    z-index: 999;
  }

  .progress-bar {
    margin: 10px;
  }
}

/* utils */

.slide-in {
  animation: 1s slide-in ease-out;
}
